<p-table  [value]="testCases$ | async" [reorderableColumns]="true"
[rowsPerPageOptions]="[5, 10, 50, 100]" [resizableColumns]="true" [paginator]="true" [rows]="50" [autoLayout]="true"
[rowHover]="true" [(selection)]="selectedTestCases">
<ng-template pTemplate="header" let-columns>
  <tr>
    <th style="width: 3em">
      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
    </th>
    <th *ngFor="let col of cols" [pSortableColumn]="col.field" pReorderableColumn>
      <span>{{ col.header }}</span>
      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
        ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order">
      </p-sortIcon>
    </th>
  </tr>

</ng-template>
<ng-template pTemplate="body" let-testCase>
  <tr [pSelectableRow]="defect" *ngFor="let defect of testCase.Defects">
    <td>
      <p-tableCheckbox ></p-tableCheckbox>
    </td>
    <td *ngFor="let col of cols">
      {{defect[col.field]}}
    </td>
  </tr>
</ng-template>
</p-table>
