<h1 id="testharness-subheader" class="mdc-typography--subtitle2">Test Harness</h1>
  
<div class="headerContainer">
  <p-radioButton name="groupname" value="global" label="Global Settings" [(ngModel)]="selectedValue"></p-radioButton>
  <p-radioButton name="groupname" value="history" label="History Run's"  [(ngModel)]="selectedValue"></p-radioButton>
  
</div>
<ng-template [ngIf]="selectedValue=='global'">
<p-accordion class = "testHornessAccordianContainer">
  <p-accordionTab header="Global Settings" [selected]="true">
    <div class="p-col-12">
      <!-- <p-card styleClass="ui-card-shadow"> -->
      <!-- <p-header>
      <h2 style="text-align: center;background-color:yellowgreen;widows: 100%;padding:10px">Test Bed Setup</h2>
    </p-header> -->
      <app-test-bed-global-values></app-test-bed-global-values>
    </div>
  </p-accordionTab>
  <p-accordionTab header="Filter Test Cases">
    <div class="p-col-12">
      <app-joint-bar-type-selection></app-joint-bar-type-selection>
    </div>
  </p-accordionTab>
</p-accordion>

<div class="p-col-12">
     <button pButton type="button" label="&nbsp;Save" id="btnSave" icon="pi pi-check"  (click)="onSubmit()"></button>
  </div> 
</ng-template>
<ng-template [ngIf]="selectedValue=='history'">
  <app-history-runs></app-history-runs>
</ng-template>

  <!-- <p-footer> -->
  <!-- <div style="float: right; margin-bottom: 20px;width:100%"> -->
  <!-- </div> -->
  <!-- <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button> -->
  <!-- </p-footer> -->
  <!-- </p-card> -->
