
<div class="p-grid">

    <div class="p-col-12">
      <p-card styleClass="ui-card-shadow">
        <p-header>
          <h3 style="background-color:lightgrey;widows: 100%;padding:10px;">Filter Test Cases</h3>
        </p-header>
        <form [formGroup]="model">
          <div class="p-grid">
            <div class="p-col-1 ui-fluid checkboxOuterContainer">
              
              <div class="checkboxContainer" >
                <span class="label">CWR</span>
                <p-checkbox name="groupname" value="val1" styleClass="checkboxElement" formControlName="cwr"></p-checkbox>
              </div>
             
              </div>
            <div class="p-col-3 ui-fluid">
              <span class="label">Class Type</span>
              <p-dropdown name="classType" [options]="classTypes" formControlName="classType"></p-dropdown>
            </div>
            <div class="p-col-4 ui-fluid">
              <span class="label">*Latitude</span>
              <input pInputText pKeyFilter="int" name="latitude" formControlName="Latitude">
            </div>
            <div class="p-col-4 ui-fluid">
              <span class="label">*Longitude</span>
              <input pInputText pKeyFilter="int" name="longitude" formControlName="Longitude">
            </div>
            <!-- <div style="padding-top:20px" >
            <button style="margin-left:20px;width:100px;" pButton type="button" label="Filter" class="ui-button-success"></button>
            </div> -->
          </div>
        </form>
      </p-card>
    </div>
  
    <div class="p-col-12">
      <form #testCasesModel="ngForm">
        <p-table [value]="testCases" dataKey="Id" [columns]="cols" [expandedRowKeys]="expandedRows" [rowHover]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th style="width: 3em"></th>
              <th *ngFor="let col of cols">
                <span>{{ col.header }}</span>
              </th>
              <th>
                Exclude
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-testCase let-expanded="expanded" let-index="rowIndex">
            <tr [pSelectableRow]="testCase">
              <td>
                <a href="#" [pRowToggler]="testCase" *ngIf="testCase.Defects.length > 0">
                  <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                </a>
              </td>
              <td pEditableColumn *ngFor="let col of cols" [ngSwitch]="col.controlType" [ngStyle]="{'text-align': col.align}">
                <p-checkbox *ngSwitchCase="'checkbox'" name="{{'checkBox' + index}}" [(ngModel)]="testCase[col.field]" binary="true" (ngModelChange)="handleChange(testCase)"></p-checkbox>
                <p-cellEditor *ngSwitchCase="'input'">
                  <ng-template pTemplate="input">
                    <input pInputText name="{{'input' + index}}" style="width:100%" pKeyFilter="pint" [(ngModel)]="testCase[col.field]" (ngModelChange)="handleChange(testCase)">
                  </ng-template>
                  <ng-template pTemplate="output">
                    <span [ngStyle]="{'color': testCase[col.field] > 0 ? 'red' : null }">{{testCase[col.field]}}</span>
                  </ng-template>
                </p-cellEditor>
                <span *ngSwitchDefault [ngStyle]="{'color': testCase[col.field] > 0 && col.field === 'negativeTestCaseCount' ? 'red' : null }">{{testCase[col.field]}}</span>
              </td>
              <td style="text-align: center">
                <button pButton type="button" label="Exclude" class="ui-button-warning" [disabled]="!testCase.modified" (click)="exclude(testCase)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-testCase>
            <tr>
              <td [attr.colspan]="cols.length + 2">
                <p-carousel [value]="testCase.Defects">
                  <p-header>
                    Defects
                  </p-header>
                  <ng-template let-defect pTemplate="item">
                    <!-- <app-defect-test-count-card [defect]="defect"></app-defect-test-count-card>
                 -->
                  </ng-template>
                </p-carousel>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </div>
  </div>